<div class=" w-full h-full md:h-auto p-6 bg-gray-200 rounded-lg border border-gray-400 shadow-md sm:p-6 lg:p-8">
    <h2 class="text-center text-3xl font-bold">Your Pictures</h2>
    <ol>
        {{#each photos as |photo|}}
        <li>
            {{ photo }}
        </li>
        {{/each}}
    </ol>
</div>