/* GLOBAL */
:root {
  --primary: #FFF2BD;
  --secondary: #F7D02D;
  --tertiary: #EF7F1B;
  --quatrinary: #EAD16A;
  --black: #000000;

}

* {
    margin: 0;
    padding: 0;
}

html, body {
  /* add font from google fonts */
  width: 100%;
  height: 100%;
  background-color: var(--secondary) !Important;
}

.font-color {
  color: var(--tertiary);
}

.font-color:hover {
  color: var(--quatrinary);
}

/* HEADER */
header {
  background-color: var(--primary);
}

/* FOOTER */
footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* LANDING PAGE */
.sign-up-btn {
  background-color: var(--quatrinary);
  border: 1px solid var(--black);
}

.sign-up-btn:hover {
  background-color: var(--tertiary);
  border: 1px solid var(--black);
}