/* GLOBAL */
:root {
  --primary: #fff2bd;
  --secondary: #f7d02d;
  --tertiary: #ef7f1b;
  --quatrinary: #ead16a;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* add font from google fonts */
  width: 100%;
  height: 100%;
  background-color: var(--secondary) !important;
}

.header-font {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 900;
}

.subHeader-font {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 300;
}

.font-color {
  color: var(--tertiary) !important;
}

.font-color:hover {
  color: var(--quatrinary);
}

.all-btns {
  background-color: var(--quatrinary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.all-btns:hover {
  background-color: var(--tertiary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.floating-box-bg {
  background-color: var(--primary) !important;
}

/* HEADER */
header {
  background-color: var(--primary);
}
/* 
header img {
  width: 10rem;
  height: auto;
}

@media (min-width: 0) {
  .navbar {
    display: block;
  }
}
@media (min-width: 576px) {
  .navbar {
    display: block;
    width: 100%;
  }

  header img {
    width: 10rem;
    height: auto;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
} */

/* FOOTER */
footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* LANDING PAGE */
.landingPage-secondaryBg {
  background-color: var(--primary);
}

/* DESTINATION SEARCH */
.search-anchor {
  color: var(--black);
}

.card-body {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}

.search-anchor:hover {
  color: var(--black);
}

/* DASHBOARD */
.dashboard-card-bg {
  background-color: var(--quatrinary) !important;
}

.dashboard-btn {
  background-color: var(--primary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.dashboard-btn:hover {
  background-color: var(--secondary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.contact-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ADD DESTINATION */
.addDest-btn {
  background-color: var(--tertiary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.addDest-btn:hover {
  background-color: var(--quatrinary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.category-btn {
  background-color: var(--quatrinary) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

/* MODAL */
.modalTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  background: var(--primary) !important;
}
.modal-title-bg {
  background-color: var(--quatrinary);
}
