<form action="/upload" method="post"
    style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;"
    enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" name="title" id="post-title" />

    <label for="description">Description:</label>
    <input type="text" name="description" id="post-description" />

    <label for="file">File:</label>
    <input type="file" id="file" name="file" required onchange="loadFile(event)" />

    <button style="grid-column: span 2;" type="submit">Share</button>

    {{!-- Image preview --}}
    <img id="output" />
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>

</form>